/* mystyle_Orange.css */

/* Color Style : Orange */

/* Div */

.div_center{
  margin: auto;
  margin-top: 20px;
  text-align: center;
}



/* Div_Round_Box */

/* 제목 상자 */
.div_Round10Box_title{
  border-radius: 10px;
  background: #ffcc66;
  margin: auto;
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  max-width: 800px;
  height: 35px;
  line-height: 100%;
  text-align: center;
  font-size: 35px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* (본문 들여쓰기) 줄마다 P태그로 줄바꾸기를 하는 경우 */
.div_Round10Box_text{
  border-radius: 10px;
  background: #ffeecc;
  margin: auto;
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  max-width: 800px;
  height: 80px;
  line-height: 100%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* (풀이) P태그를 사용하지 않는 경우 */
.div_Round10Box_solve{
  border: 1px solid black;
  border-radius: 10px;
  background: #fff7e6;
  margin: auto;
  margin-top: 20px;
  padding: 20px 30px 20px 30px;
  width: 780px;
  height: 80px;
  line-height: 150%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}



/* Input 1 line */

.Input_rect{
  border-radius: 0px;
  background: white;
  margin: auto;
  padding: 0px 20px 5px 20px;
  width: 800px;
  height: 40px;
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Input_rect:focus{
  outline: none;
  background: #ffdf99;
}

.Input_round10{
  border-radius: 10px;
  background: white;
  margin: auto;
  padding: 0px 20px 5px 20px;
  width: 800px;
  height: 40px;
  font-size: 25px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.Input_round10:focus{
  outline: none;
  background: #ffdf99;
}



/* Text multi lines */

.Text_round10{
  border: 2px solid black;
  border-radius: 15px;
  background: white;
  margin: auto;
  margin-top: 10px;
  padding: 5px 20px 5px 20px;
  width: 800px;
  height: 200px;
  font-size: 25px;
  line-height: 150%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.Text_round10:focus{
  outline: none;
  background: #ffdf99;
}



/* Button */

.Button_round40H{
  border-radius: 40px;
  border: none;
  background: #ffefcc;
  margin: auto;
  margin-top: 20px;
  padding: 5px 20px 5px 20px;
  width: 350px;
  height: 50px;
  font-size: 30px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.Button_round40H:hover{
  outline: none;
  background: #ffdf99;
}
.Button_round40H:focus{
  outline: none;
  background: #ffdf99;
}

.Button_round40{
  border-radius: 40px;
  border: none;
  background: #ffefcc;
  margin: auto;
  margin-top: 20px;
  padding: 5px 20px 5px 20px;
  width: 200px;
  height: 45px;
  font-size: 25px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.Button_round40:hover{
  outline: none;
  background: #ffdf99;
}
.Button_round40:focus{
  outline: none;
  background: #ffdf99;
}

.Button_round40_Prayer{
  border-radius: 40px;
  border: none;
  background: #ffcc66;
  margin: auto;
  margin-top: 20px;
  padding: 5px 20px 5px 20px;
  width: 350px;
  height: 45px;
  font-size: 25px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.Button_round40F{
  border-radius: 40px;
  border: none;
  background: #ffefcc;
  margin: auto;
  margin-top: 20px;
  padding: 5px 20px 5px 20px;
  width: 250px;
  height: 45px;
  font-size: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.Button_round40F:hover{
  outline: none;
  background: #ffdf99;
}
.Button_round40F:focus{
  outline: none;
  background: #ffdf99;
}


/* Indent */

.Indent0{
  padding-left: 0px;
}

.Indent1{
  padding-left: 40px;
}

.Indent2{
  padding-left: 80px;
}

.Indent3{
  padding-left: 120px;
}

.Indent4{
  padding-left: 160px;
}

.Indent5{
  padding-left: 200px;
}

.Indent6{
  padding-left: 240px;
}

.Indent7{
  padding-left: 280px;
}

.Indent8{
  padding-left: 320px;
}

.Indent9{
  padding-left: 360px;
}

.Indent10{
  padding-left: 400px;
}
